@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

input {
    border: 1px solid black;
    width: 100%;
    padding: 12px;

}

input:focus {
    outline: none;
}

 button:hover{
    cursor:pointer
 }